.hero {
   &__body {
      background-color: #232324;
      position: relative;
      overflow: hidden;
  
      &-inner {
        max-width: 720px;
        padding-top: 70px;
        padding-bottom: 60px;  
      }
    }
    
    &__title {
      margin-bottom: 20px;
      font-family: "RetroComputer", sans-serif;
      font-size: 30px;
      text-transform: uppercase;
      color: var(--color-primary);
  
      @include mobile {
        font-size: 22px;
      }
    }
    
  &__descr {
   margin-bottom: 50px;
   font-weight: 300;
   font-size: 22px;
   line-height: 24px;
   color: #FFFFFF;

   @include mobile {
     font-size: 14px;
   }
 }

 &__btn {
   padding: 18px 65px;

   @include mobile {
     width: 100%;
   }
 }

 &__decor {
   &-glasses {
     position: absolute;
     left: 0;
     top: -45px;

     @include minidesk {
       width: 100px;
     }

     @include tablet {
       display: none;
     }
   }

   &-helmet-blue {
     position: absolute;
     top: -40px;
     left: 55%;

     @include mobile {
       width: 110px;
       top: 6%;
       left: 90%;
     }

     @include minimobile {
       display: none;
     }
   }

   &-joker {
     position: absolute;
     bottom: -20px;
     right: 50px;

     @include mediumdesk {
       width: 500px;
       bottom: -2px;
     }

     @include minidesk {
       width: 350px;
     }

     @include smalldesk {
       right: 0;
     }

     @include tablet {
       width: 250px;
       bottom: -40px;
     }

     @include mobile {
       display: none;
     }
   }

   &-helmet-red {
     position: absolute;
     bottom: -100px;
     left: -20px;

     @include minidesk {
       width: 100px;
       bottom: -60px;
     }

     @include tablet {
       display: none;
     }

     @include smalldesk {
       display: none;
     }

   }
 }
}