.modal {   
   width: 100%;
   height: 100vh;  
   background-color: rgba(0, 0, 0, 0.9);
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   top: 0;
   left: 0;   
   z-index: 9999;   
   opacity: 0;
   visibility: hidden;
   transition: .4s;
   &_visible {
      opacity: 1;
      visibility: visible;
   }  
   &__form {
      padding: 40px;
      padding-top: 20px;
      border-radius: 10px;
      background-color:var(--color-white);
      max-height: 700px;      
      position: relative;
      display: flex;
      flex-direction: column;      
      justify-content: center;
   }
   &__btn-close {
      position: relative;
      margin-left: 100%;      
      width: 20px;
      height: 20px;
      background-color:transparent;
      border: none;
      cursor: pointer;
      &::before {        
         position: absolute;
         content: '';
         background-color:var(--color-black);
         width: 20px;         
         height: 2px;
         left: 0;
         top: 0;
         transform: rotate(45deg);
         transition: .3s;
      }
      &::after {
         position: absolute;
         content: '';
         background-color:var(--color-black);
         width: 20px;         
         height: 2px;
         left: 0;
         top: 0;
         transform: rotate(-45deg);
         transition: .3s;
      }
      &:hover {
         &::before {
            background-color:var(--color-primary);
         }
         &::after {
            background-color:var(--color-primary);
         }
      }
   }
   &__title {
      font-size: 30px;
      color:var(--color-black);
      font-weight: 700;
      margin-bottom: 30px;
   }  
   &__label {
      margin-bottom: 28px;
      display: block;
   }
   &__input {
      width: 100%;
      border: 2px solid var(--color-primary);
      border-radius: 5px;
      padding: 10px;
     
   }
   &__btn {
      text-transform: uppercase;
      background-color:var(--color-primary);
      padding: 20px 40px;
      border-radius: 5px;
      font-size: 18px;       
      font-weight: 700;
      color:var(--color-white);   
      border: none;
   }
   &__text {
      margin-bottom: 6px;
   }
}