.special {

   &__section {
      padding-top: 93px;
      padding-bottom: 116px;
   }

   &__title {
      margin-bottom: 70px;
   }

   &__list {
      display: flex;
      gap: 18px;
      justify-content: space-between;

      @include minidesk {
         flex-wrap: wrap;
         justify-content: space-around;
      }
   }

   &__item {
      flex: 0 0 195px;
      padding: 20px;
      background: #201F23;
      box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
      border-radius: 10px;
      text-align: center;

      @include minidesk {
         flex: 0 0 30%;
      }

      @include mobile {
         flex: 0 0 100%;
         max-width: 450px;
      }

   }

   &__value {
      margin-bottom: 10px;
      font-weight: 700;
      font-size: 22px;
      line-height: 24px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: var(--color-primary);
   }

   &__text {
      padding-bottom: 20px;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: var(--color-primary);
      position: relative;

      &:after {
         position: absolute;
         content: '';
         height: 1px;
         width: 100%;
         background-color: var(--color-primary);
         bottom: 0;
         left: 0;
      }
   }

   &__descr {
      margin-top: 30px;
      color: var(--color-white);
      font-weight: 300;
      font-size: 18px;
      line-height: 24px;

   }
}