<div class="hero__body">
   <img class="hero__decor-glasses" src="img/glasses.png" alt="glasses">
   <img class="hero__decor-helmet-blue" src="img/helmet-blue.png" alt="helmet-blue">
   <img class="hero__decor-joker" src="img/joker.png" alt="joker">
   <img class="hero__decor-helmet-red" src="img/helmet-red.png" alt="helmet-red">
   <div class="container">
      <div class="hero__body-inner">
         <a href="#" aria-label="logo" class="hero__logo">
            <img src="img/header__logo.svg" alt="ICPunks">
         </a>
         <h1 class="hero__title">
            First Nfts <span class="title--small">on the Internet Computer</span>
         </h1>
         <p class="hero__descr">
            10,000 randomly generated, unique collectible clowns with proof of&nbsp;ownership stored on&nbsp;the Internet Computer blockchain. Created as&nbsp;a&nbsp;reference to&nbsp;a&nbsp;meme comparing the Internet Computer token (ICP) with the Insane Clown Posse&nbsp;&mdash; an&nbsp;American hip hop duo founded in&nbsp;1989.
         </p>
         <button aria-label="connect your wallet" class="hero__btn btn btn-submit btn-reset">Join our community</button>
      </div>
   </div>
</div>