<section class="message__section">
   <div class="container">
      <div class="message__inner">
         <h2 class="title message__title">Join Our Newsletter</h2>
         <div class="message__subtitle">Stay up to date with our new releases</div>
         <form action="" class="message__form">
            <input type="text" placeholder="Email" class="message__input input-mail">
            <button type="submit" class="btn btn-reset message__btn">Send</button>
         </form>
      </div>
   </div>
   <img class="message__decor-helmet-blue" src="img/footer-helmet-blue.png" alt="blue helmet">
   <img class="message__decor-glasses" src="img/glasses.png" alt="glasses">
</section>