<section class="plan__section">
   <div class="container">
      <h2 class="title plan__title title--center">We also plan the future after all punks will be claimed:</h2>
      <div class="plan__body">
         <img class="plan__decor-hat" src="img/hat.png" alt="hat">
         <ul class="plan__items">
            <li class="plan__item">
               <h3 class="plan__title heading">Q3 2021:</h3>
               <p class="plan__text">Launch the ICPunks marketplace where you can trade, buy and sell your ICPunks for ICP tokens.</p>
            </li>
            <li class="plan__item">
               <h3 class="plan__title heading">Q4 2021:</h3>
               <p class="plan__text">Open the ICPunks marketplace to&nbsp;other NFTs, and launch the first NFT marketplace on&nbsp;Internet Computer. New small collection will be&nbsp;distributed to&nbsp;our supporters!</p>
            </li>
            <li class="plan__item">
               <h3 class="plan__title heading">Q1 2022:</h3>
               <p class="plan__text">Start experimenting with crosschain solutions, so&nbsp;that you can bring your favorite NFTs to&nbsp;Internet Computer from Ethereum or&nbsp;Binance Smart Chain.</p>
            </li>
         </ul>
      </div>
   </div>
</section>
