<section class="special__section">
   <div class="container">
      <h2 class="title title--center special__title">As&nbsp;we&nbsp;progress with how many ICPunks are given away, we&nbsp;have something special for you:</h2>
      <ul class="special__list">
         <li class="special__item">
            <div class="special__value">20%</div>
            <div class="special__text">claimed</div>
            <div class="special__descr">We&nbsp;send ICPunks to&nbsp;Dfinity team that helped&nbsp;us launch the project and supported&nbsp;us along the way.</div>
         </li>
         <li class="special__item">
            <div class="special__value">40%</div>
            <div class="special__text">claimed</div>
            <div class="special__descr">We&nbsp;send ICPunks to&nbsp;influencers and supporters that helped&nbsp;us promote the project</div>
         </li>
         <li class="special__item">
            <div class="special__value">60%</div>
            <div class="special__text">claimed</div>
            <div class="special__descr">We&nbsp;send a&nbsp;free NFT to&nbsp;everyone who claimed an&nbsp;ICPunk!</div>
         </li>
         <li class="special__item">
            <div class="special__value">80%</div>
            <div class="special__text">claimed</div>
            <div class="special__descr">We&nbsp;release a&nbsp;guide to&nbsp;rare ICPunks&nbsp;&mdash; check how valuable is&nbsp;your punk!</div>
         </li>
         <li class="special__item">
            <div class="special__value">10%</div>
            <div class="special__text">claimed</div>
            <div class="special__descr">It&rsquo;s a&nbsp;success! We&nbsp;launch a&nbsp;simple page to&nbsp;exchange your clowns with others.</div>
         </li>
      </ul>
   </div>
</section>