html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "RobotoMono-Light", sans-serif;
  font-size: 18px;
  background-color: #1D1D1E;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.d-flex {
  display: flex;
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1070px;
}

.btn {
  background-color: var(--color-curiousBlue);
  border-radius: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--color-white);
  font-weight: 700;
  transition: all .3s ease-in-out;

  &:hover {
    background-color: #1a75a3;
    color: var(--color-primary);
  }

  @include mobile {
    font-size: 14px;
  }
}

.title {
  font-family: "RetroComputer", sans-serif;
  text-transform: uppercase;
  color: var(--color-primary);
  font-size: 34px;
  line-height: 48px;

  @include mobile {
    font-size: 22px;
  }

  &--center {
    text-align: center;
  }

  &--small {
    text-transform: none;
    font-family: "RobotoMono-Light", sans-serif;
    font-weight: 300;
    color: var(--color-white);
    letter-spacing: 1.5px;
  }
}

.heading {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--color-primary)
}

.social {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    padding-top: 2px;
    cursor: pointer;
    svg {
      fill: var(--color-white);
      transition: fill .3s ease-in-out;

      circle {
        stroke: white;
        transition: stroke .3s ease-in-out;

        &:hover {
          stroke: var(--color-curiousBlue);
        }
      }

      &:hover {
        fill: var(--color-curiousBlue);

      }
    }

    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}
.just-validate-error-label {
  padding-top: 10px;
}